@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100vh;
    background: url(/images/Essential-Books.jpg);
    background-color: rgba(49, 51, 53, 1);
    background-size: cover;
    background-blend-mode: multiply; 
    background-repeat: no-repeat;
}

header {
    color: whitesmoke;
    text-align: center;
    font-size: 1.5rem;
}

.wrapper {
    padding: 0 5vw;
    display: flex;
}

.info {
    flex: 1;
}

.info p {
    font-size: 1.1em;
    padding: 15px 25px;
    color: whitesmoke;
    background: #3CB371;
    opacity: 0.9;
    border-radius: 10px;
}

#map {
    flex: 1;
    margin-left: 40px;
}

